* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  }
body{
	background-color: black;
	color:white;
	font-family: Georgia, 'Times New Roman', Times, serif ;
	font-size: 20px;
	max-width: 50rem;
    margin:2rem auto;
	padding: 0px 2rem;
	border: 1px solid;
}
h1{
	text-align: center;
	font-size: 5em;
	padding: 1px 1px;
	margin: 5px 5px;
	color: white;
}
h3{
	margin-top: 40px;
	margin-bottom: 3px;
	font-size: 2rem;
	font-weight: bolder;
}
h5{
	margin-top: 10px;
	margin-bottom: 10px;
}
.pd{
	margin-top: 10px;
}
.help{
	font-size: 0.7rem;
}
.wrap-container{
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	width: 100%;
}
.input, .select{
	font-size: 1.5rem;
	border-radius: 10px;
	color: #999;
	outline: 1px solid #999;
	text-indent: 0.5rem;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.input:focus{
	color:  #212529;
	background-color: #fff;
	border-color: #86b7fe;
	outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
radio{
	outline: none;
}
.radio{
	margin-top: 10px;
	margin-bottom: 10px;
}
button {
	font-size: 2rem;
	margin: 20px auto;
	display: block;
	color: white;
	padding: 0.5rem 0.8rem;
	border: 1px solid white;
	background-color: #023de3;
	color: white;
	border-radius: 10px;
	box-shadow: 1px #0000;
	box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;}
	
 
	